@page "/"

<PageTitle>Home</PageTitle>

<h1>Zoe Hurst: Cloud / DevOps Related Blog Site</h1>

Hi! I'm Zoe and I work as a Cloud Engineer after completing my apprenticeship in DevOps Engineering.
Here you will find blog posts around Cloud and DevOps tools and technologies as I further my knowledge and develop in my career.